@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  color: black;
}
.home h3 {
  left: 0;
  right: 0;
  bottom: 0px;
  width: 320px;
  height: 10px;
  margin: auto;
  text-align: center;
  animation: fadeIn 2.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home h3 a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 17px 10%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-size: 17px;
  color: black;
  text-decoration: none;
  font-weight: 200;
  margin-left: 35px;
  position: relative;
}
.navbar a:hover {
  color: rgb(139, 139, 116);
  text-decoration: underline;
}

.home-content {
  display: flex;
  align-items: center;
  height: 200px;
}

.home {
  background: url("portfolio/photo.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
.home1 {
  background: url("portfolio/photo1.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
.home2 {
  background: url("portfolio/photo2.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
.home3 {
  background: url("portfolio/photo3.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.section {
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.image-container {
  margin: 10px;
  display: inline-block;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.image-container:hover {
  transform: scale(1.025);
}

/* 푸터 */
footer {
  top: 0;
  left: 0;
  width: 100%;
  padding: 80px 10%;
  display: flex;
}
footer h3 {
  line-height: 35px;
  color: black;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 23px;
  display: inline-block;
}
.footer ul li:first-child {
  margin-left: 0;
}

footer ul li {
  display: flex;
  text-align: left;
  text-decoration: none; /* 밑줄 제거 */
}
.ft1 ul li a {
  text-decoration: none;
  color: rgba(32, 31, 31, 0.89);
}
.ft2 ul li a {
  text-decoration: none;
  color: rgba(32, 31, 31, 0.89);
}
.ft3 ul li a {
  text-decoration: none;
  color: rgba(32, 31, 31, 0.89);
}
.ft4 ul li a {
  text-decoration: none;
  color: rgba(32, 31, 31, 0.89);
}

footer div {
  flex: 1;
}
.ft {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

select {
  width: 200px; /* 너비 조절 */
  height: 30px; /* 높이 조절 */
  margin-left: 11px;
}
.container {
  display: flex;
  align-items: center;
}
.container i {
  width: 32px;
  height: 32px;
}
